@import url('https://fonts.googleapis.com/css?family=Lato:300,700|Julius+Sans+One|Aldrich|Geo|Maven+Pro|Michroma|Nova+Square|Orbitron|Overpass|Rationale|Syncopate:400,700');

//font-family: 'Quicksand', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Pacifico', cursive;
//font-family: 'Oswald', sans-serif;
//font-family: 'Lato', sans-serif;
//font-family: 'Roboto', sans-serif;

//@import url('https://fonts.googleapis.com/css?family=Audiowide|Catamaran|Josefin+Sans|Julius+Sans+One|Krona+One|Palanquin|Poppins|Raleway|Roboto+Condensed:400,700|Secular+One');

//font-family: 'Roboto Condensed', sans-serif;
//font-family: 'Raleway', sans-serif;
//font-family: 'Poppins', sans-serif;
//font-family: 'Catamaran', sans-serif;
//font-family: 'Josefin Sans', sans-serif;
//font-family: 'Audiowide', cursive;
//font-family: 'Julius Sans One', sans-serif;
//font-family: 'Palanquin', sans-serif;
//font-family: 'Krona One', sans-serif;
//font-family: 'Secular One', sans-serif;

$logo-main:#FFFFFF;
$background:white;
$text-primary:white;
$nav-background:rgba(black,0.8);

$primary-dark:#6c6e7d;
$primary-light:#a2a0aa;
$secondary-dark:#252329;
$secondary-light:#dfe2ef;
$accent:#FF3C4A;

$logo-brand:rgba(white,0.3);


body {
	background:$background;
	overflow-x:hidden;
}

.navbar {

	padding-bottom:20px;
	padding-top:20px;
	box-shadow:none;
	border-bottom:none;
	background:none;
	position:fixed;
	transition:background 0.5s ease-in-out, padding 0.5s ease-in-out;

	.navbar-header {
		display:none;
		width:100%;
		text-align:center;
		margin:0 auto;
		overflow:hidden;
		height:65px;
	}

	.navbar-brand {
		display:none;
	}

	.navbar-nav {
		display:flex;
		justify-content:space-between;
		width:100%;
		background:none;
		box-shadow:none;
		font-family: 'Raleway', sans-serif;
		text-transform:uppercase;

		.nav-item {

			a {
				color:rgba(white,0.7);
				text-shadow:none;

				&:hover {
					color:white;
				}
			}

			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background:rgba(white,0.2);

				-webkit-transform: scaleY(0);
				transform: scaleY(0);
				-webkit-transform-origin: 50% 100%;
				transform-origin: 50% 100%;
				-webkit-transition-property: transform;
				transition-property: transform;
				-webkit-transition-duration: 0.2s;
				transition-duration: 0.2s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}

			&:hover {
				&:before {
					transform:scaleY(1);
				}
			}

		}

		.active {

			a {
				background:none;
				box-shadow:none;
				border-bottom:2px solid white;
				color:white;

				&:hover {
					background:none;
				}
			}
		}
	}

	@media screen and (max-width: 750px) {

		.navbar-header {
			display:block;
		}

		.navbar-nav {
			display:inline-block;
			text-align:right;
			margin:0 auto;
			padding-left:50px;

			.active {
				a {
					border-bottom:2px solid white;
				}
			}
		}

	}

}

.navbar-collapse {
	padding:0;
	border:none;
}

.navbarOpen {
	background:$nav-background;
	padding-top:10px;
	padding-bottom:10px;

	.navbar-brand {
		display:block;
	}
}

.navbarActivated {
	background:$nav-background;
	padding-top:10px;
	padding-bottom:10px;

	.navbar-brand {
		display:block;
	}
}

.navbar-toggle {
	border:none;

	&:focus {
		background:none !important;
	}

	&:hover {
		background-color:rgba(white,0.2) !important;
	}

	&:active {
		background-color:rgba(white,0.2) !important;
	}
}

.menu {
	width: 40px;
	height: 35px;
	margin: 15px;
	padding:0;
}
.menu .icon {
	margin: 0 auto;
	position: relative;
}
.menu .icon:before, .menu span:after {
	position: absolute;
	content: '';
}
.menu .icon, .menu span:before, .menu span:after {
	width: 25px;
	height: 3px;
	border-radius:10px;
	background-color: white;
	display: block;
}
.menu .icon:before {
	margin-top: -8px;
}
.menu .icon:after {
	margin-top: 8px;
}

.xtoggle {
	.icon {
		-webkit-transition-duration: 0s; transition-duration: 0s;
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;

		&:before {
			-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
			-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
			-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		}
		&:after {
			-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
			-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
			-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		}
	}
}

.xtoggleOpen {
	.icon {
		background-color: rgba(0,0,0,0.0);
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;

		&:before {
			margin-top: 0;
			-webkit-transform: rotate(45deg); transform: rotate(45deg);
			-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
		}
		&:after {
			margin-top: 0;
			-webkit-transform: rotate(-45deg); transform: rotate(-45deg);
			-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
		}
	}
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

.jumbotron {
	background:url("../img/barb2.jpg");
	background-attachment:fixed;
	background-size:cover;
	background-position:center;
	width:100%;
	position:relative;
	padding-top:100px;
	padding-bottom:100px;
	margin:0;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	height:100vh;

	* {
		position:relative;
		z-index:2;
	}

	h1 {
		color:white;
		letter-spacing: 0.8em;
		font-size:8vw;
		text-align:center;
		padding-left:1em;
		line-height:1.5em;
		white-space:nowrap;

		font-family: 'Geo', sans-serif;
		font-style:italic;
	}

	.icon-bar-social {
		position:absolute;
		bottom:0;
	}

	.s-icon {
		color:rgba(white,0.7);
		margin:10px;
		padding:20px;

		&:hover {
			color:white;
		}
	}


	&::after {
		content:"";
		display:block;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.6);
		position:absolute;
		top:0;
		left:0;
		z-index:1;
	}
}

.icon-bar {
	background-color:white !important;
}

.logo-container {
	position:relative;
	width:100%;
	height:210px;
}

.logo-brand {
	-webkit-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	-moz-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	-o-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	-ms-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	transform: skew(-20deg, 0deg) scale(0.1, 0.1);
	position: absolute;
	left: -180px;
	top: -35px;
	margin-top:-105px;
	width:450px;
	height:210px;
}

.logo {
	-webkit-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	-moz-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	-o-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	-ms-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	transform: skew(-20deg, 0deg) scale(0.6, 0.6);
	position: absolute;
	left: 50%;
	margin: 0 0 0 -225px;
	width:450px;
	height:210px;
}

.top {
	height:30%;
}

.bottom {
	height:69%;
	margin-top:1%;
}

.left {
	width:33%;
}

.right {
	width:65%;
	margin-left:1.2%;
}

.s1 {
	float:left;
	position:relative;

	&::before {
		content:"";
		position:absolute;
		left:0;
		height:100%;
		width:50%;
		background:$logo-main;
	}

	&::after {
		content:"";
		position:absolute;
		right:4px;
		height:100%;
		width:10%;
		background:$logo-main;
		box-shadow:-23px 0 0 0 $logo-main,
		-46px 0 0 0 $logo-main;
	}

}

.s2 {
	float:left;
	background:$logo-main;
}

.s3 {
	float:left;
	box-sizing:border-box;
	border:40px solid $logo-main;
	border-top:none;
	position:relative;

	&::after {
		content:"";
		position:absolute;
		right:-1px;
		height:40px;
		width:60px;
		background:$logo-main;
	}

}

.s4 {
	float:left;
	box-sizing:border-box;
	border-left:40px solid $logo-main;
	border-top:40px solid $logo-main;
}

.logo-dark {
	.s1 {

		&::before {
			background:$logo-brand;
		}

		&::after {
			background:$logo-brand;
			box-shadow:-23px 0 0 0 $logo-brand,
			-46px 0 0 0 $logo-brand;
		}

	}

	.s2 {
		background:$logo-brand;
	}

	.s3 {
		border-color:$logo-brand;

		&::after {
			background:$logo-brand;
		}

	}

	.s4 {
		border-color:$logo-brand;
		border-color:$logo-brand;
	}
}

@media screen and (max-width: 750px) {

	.navbar {
		padding:0;
	}
}

@media screen and (max-width: 875px) {

	.jumbotron {
		padding-top:0;
		padding-bottom:50px;

		h1 {
			font-size:12vw;
			padding-left:0.4em;
			letter-spacing:0.5em;
		}
	}

	.logo {
		-webkit-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
		-moz-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
		-o-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
		-ms-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
		transform: skew(-20deg, 0deg) scale(0.5, 0.5);
	}
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

.quote-view {
	width:100%;
	position:relative;
	padding:90px 80px 160px 80px;
	display:flex;

	h3 {
		font-family:'Lato', sans-serif;
		font-weight:300;
		font-size:1.4em;
		color:rgba(1,1,1,0.4);
		text-align:right;
		padding-right:15px;

		span {

			color:white;
			position:relative;

			&:before {
				content:"";
				position: absolute;
				z-index: -1;
				top: 0;
				bottom: 0;
				left: -5px;
				right: -5px;
				background:black;
				transition:right 0.5s ease-in-out
			}
		}

		.expanded-span {
			&:before {
				right: -200px;
			}
		}

	}

	p {
		//text-align:center;
		width:80%;
		font-size:1.7em;
		font-family:'Lato', sans-serif;
		font-weight:300;
		line-height:1.9em;
		position:relative;
		padding-top:70px;
		padding-left:10px;
		color:transparent;
		transition:color 0.5s ease-out;

		&:before {
			content:"";
			height:0%;
			display:block;
			position:absolute;
			top:0;
			left:-10px;
			border-left:solid 1px black;
			transition:height 0.5s ease-in-out;
		}
	}

	.expanded-border {
		color:inherit;
		&:before {
			height:100%;
		}
	}

	@media screen and (max-width: 750px) {
		padding:50px 10px 120px 10px;
		flex-direction:column;

		h3 {
			width:default;
			text-align:left;
			padding-left:40px;
			margin-bottom:-50px;

			span {
				padding-left:20px;
				margin-left:-20px;
			}
		}

		p {
			width:default;
			margin-left:40px;
		}
	}
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

.services {

	position:relative;
	margin-bottom:180px;
	margin-top:20px;

	.live {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 100px 70vw 84px 0;
		border-color: transparent $primary-light transparent transparent;
		position:absolute;
		top:-127px;
		right:0;
		z-index:-2;

		h3 {
			font-family:'Lato', sans-serif;
			font-weight:300;
			font-size:1.4em;
			color:white;
			position:absolute;
			top:-30px;
			left:300px;
			width:200px;
		}
	}

	.ytlive {
		position:absolute;
		width:200px;
		right:0;
		top:-127px;
		z-index:-1;
	}

	.lower {
		display:flex;
	}

	.programs {
		width:50vw;
		background-color:#222222;
		height:200px;
		position:relative;
		margin-right:2px;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		transition:background-color 0.3s linear;

		@media screen and (max-width: 750px) {
			height:150px;
		}

		&:before {
			content:"";
			z-index:-1;
			position:absolute;
			top:-60px;
			left:-2px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 60px 0 100px 50vw;
			border-color: transparent transparent transparent #222222;
			transition:border-color 0.3s linear;
		}

		&:after {
			content:"";
			z-index:-1;
			position:absolute;
			bottom:-60px;
			right:0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 100px 50vw 60px 0;
			border-color: transparent #222222 transparent transparent;
			transition:border-color 0.3s linear;
		}

		&:hover {
			background:black;

			&:before {
				border-color: transparent transparent transparent black;
			}

			&:after {
				border-color: transparent black transparent transparent;
			}
		}

		.dumbbell {
			width:100px;
			margin-bottom:-15px;

			@media screen and (max-width: 750px) {
				width:80px;
			}
		}

		h3 {
			font-family:'Lato', sans-serif;
			font-weight:300;
			font-size:1.4em;
			color:white;
			text-align:center;
		}

		p {
			font-family:'Lato', sans-serif;
			text-align:center;
			padding:10px 30px 10px 30px;
			font-size:1.2em;
			color:rgba(white,0.7);
			max-width:400px;

			@media screen and (max-width: 750px) {
				display:none;
			}
		}
	}

	.blog {
		margin-left:2px;
		width:50vw;
		height:200px;
		margin-top:60px;
		background-color:#222222;
		align-self:flex-end;
		position:relative;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content:center;
		transition:background-color 0.3s linear;

		@media screen and (max-width: 750px) {
			height:150px;
		}

		&:before {
			content:"";
			z-index:-1;
			position:absolute;
			top:-60px;
			left:0;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 60px 0 100px 50vw;
			border-color: transparent transparent transparent #222222;
			transition:border-color 0.3s linear;
		}

		&:after {
			content:"";
			z-index:-1;
			position:absolute;
			bottom:-60px;
			left:0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 100px 50vw 60px 0;
			border-color: transparent #222222 transparent transparent;
			transition:border-color 0.3s linear;
		}

		&:hover {
			background:black;

			&:before {
				border-color: transparent transparent transparent black;
			}

			&:after {
				border-color: transparent black transparent transparent;
			}
		}

		.paperpen {
			width:80px;

			@media screen and (max-width: 750px) {
				width:60px;
			}
		}

		h3 {
			font-family:'Lato', sans-serif;
			font-weight:300;
			font-size:1.4em;
			color:white;
			text-align:center;
		}

		p {
			font-family:'Lato', sans-serif;
			text-align:center;
			padding:10px 30px 10px 30px;
			font-size:1.2em;
			color:rgba(white,0.7);
			max-width:400px;

			@media screen and (max-width: 750px) {
				display:none;
			}
		}
	}

	.shop {
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 84px 0 100px 70vw;
		border-color: transparent transparent transparent $primary-light;
		position:absolute;
		bottom:-127px;
		left:0;
		z-index:-2;

		h3 {
			font-family:'Lato', sans-serif;
			font-weight:300;
			font-size:1.4em;
			color:white;
			position:absolute;
			top:-30px;
			right:300px;
			width:200px;
		}
	}

}

.srv2 {
	margin-top:-175px;
}

.shop-link {
	width:96%;
	background:#222222;
	height:100px;
	margin:0 auto;
	border-radius:3px;
	overflow:hidden;
	transition:background-color 0.3s linear;

	.logo {
		-webkit-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
		-moz-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
		-o-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
		-ms-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
		transform: skew(-20deg, 0deg) scale(0.2, 0.2);
		position: absolute;
		left: 50%;
		margin:-65px 0 0 -225px;
		width:450px;
		height:210px;
	}

	h3 {
		color:white;
		font-family:'Lato', sans-serif;
		font-weight:700;
		font-size:2.7em;
		position: absolute;
		left: 50%;
		text-align:right;
		margin-top:45px;
	}

	&:hover {
		background:black;
	}
}

//
//
//
//
//
//
//
//
//
//
//
//
//
//

footer {
	padding:50px;
	background:#111111;
	font-family:'Lato', sans-serif;
	display:flex;
	align-items:center;
	justify-content:space-around;

	ul {
		list-style:none;
	}

	p {
		color:white;
	}

	li {
		color:rgba(white,0.5);
		padding-bottom:15px;
	}

	a {
		color:rgba(white,0.5);

		&:hover {
			color:$accent;
			text-decoration:none;
		}
	}

	i {
		background:rgba(white,0.1);
		padding:8px;
		border-radius:50%;
		color:rgba(white,0.5);
		margin:3px;
		&:hover {
			background:rgba(white,0.3);
			color:rgba(white,0.9);
		}
	}

	.fa-facebook {
		padding:8px 11px 8px 11px;
	}

	@media screen and (max-width: 750px) {
		flex-direction:column;
		align-items:flex-start;
		justify-content:flex-start;

		ul {
			margin-bottom:40px;
		}
	}
}

//
//
//
//
//
//
//
//
//
//
//

header {
	height:230px;
	width:100%;
	background-image:url("../img/gunnar2.jpg");
	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	background-attachment:fixed;
	background-size:cover;
	background-position:center -340px;
	position:relative;
	overflow:hidden;

	&::after {
		content:"";
		display:block;
		width:100%;
		height:100%;
		background-color:rgba(0,0,0,0.6);
		position:absolute;
		top:0;
		left:0;
		z-index:1;
	}

	h1 {
		color:white;
		font-size:5em;
		padding-left:1em;
		line-height:0.28em;
		white-space:nowrap;
		position:absolute;
		bottom:0;
		z-index:2;

		font-family: 'Geo', sans-serif;
		font-style:italic;
		

		@media screen and (max-width: 750px) {
			font-size:3.5em;
			line-height:0.14em;
			padding-left:0.5em;
		}
	}

	.secondary-logo {
		background:tomato;
		-webkit-transform: scale(0.5, 0.5);
		-moz-transform: scale(0.5, 0.5);
		-o-transform: scale(0.5, 0.5);
		-ms-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
		position:absolute;
		bottom:84px;
		left:430px;
	}

	@media screen and (max-width: 750px) {

		} @media screen and (min-width: 1200px) {
			background-position:center -440px;
		}

	}

	.content {
		background:#DDDDDD;
	}

	.subheader {
		position:relative;
		background:white;

		.secondary-sub {
			padding:110px 80px 110px 80px;
			margin:0 auto;
			text-align:center;
			font-family:'Lato', sans-serif;

			@media screen and (max-width: 750px) {
				padding:110px 20px 110px 20px;
				font-size:1.9em;
			}
		}

		&:before {
			content:"";
			position:absolute;
			bottom:-100px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 60px 0 100px 100vw;
			border-color: transparent transparent transparent white;
		}

	}

	.shop-sub {
		background:white;
		padding:110px 80px 110px 80px;
		margin:0 auto;
		text-align:center;
		font-family:'Lato', sans-serif;
		line-height:1.5em;

		@media screen and (max-width: 750px) {
			padding:80px 10px 80px 10px;
			font-size:1.5em;
		}
	}

	.grid-container {
		display:flex;
		flex-wrap:wrap;
		align-items:center;
		justify-content:center;
		padding-top:0px;
		padding-bottom:100px;

		.program-container {
			width:300px;
			height:400px;
			background:#222222;
			margin:15px;
			border-radius:3px;
			position:relative;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			overflow:hidden;
			background-repeat:no-repeat;

			.program-description {
				background:white;
				position:absolute;
				bottom:0;
				height:110px;
				width:100%;
			}

			h3 {
				color:black;
				font-family:'Lato',sans-serif;
				background:white;
				width:100%;
				padding-left:10px;
			}

			p {
				padding-left:10px;
				padding-right:10px;
				background:white;
				height:60px;
				color:rgba(black,0.8);
				font-family:'Lato', sans-serif;
			}

			@media screen and (max-width: 750px) {
				width:100vw;
			}
		}

		.twelve {
			background-image:url("../img/gunnar5.jpg");
			background-position:-70px -30px;
			background-size:cover;
		}

		.booty {
			background-image:url("../img/b1.JPG");
			background-position:-100px -50px;
			background-size:cover;
		}

		.volume {
			background-image:url("../img/gunnar11.jpg");
			background-position:-120px -20px;
			background-size:cover;
		}

		.strength {
			background-image:url("../img/gunnar6.jpg");
			background-position:-150px;
			background-size:cover;
		}

		.diet {
			background-image:url("../img/veg.jpg");
			background-position:-90px -100px;
			background-size:cover;
		}

		.online {
			background-image:url("../img/live.svg");
			background-color:#E62119;
			background-position:right;
			background-size:200px;
		}

		.relocate {
			background-image:url("../img/gunnar5.jpg");
			background-size:cover;
		}

		@media screen and (max-width: 750px) {

			.twelve {
				background-position:0 -25px;
			}

			.booty {
				background-position:0 0;
			}

			.volume {
				background-position:0 -25px;
			}

			.strength {
				background-position:0 0;
			}

			.diet {
				background-position:0 -110px;
			}

			.online {
				background-position:right;
				background-size:60vw;
			}

			.relocate {

			}

		} @media screen and (max-width: 500px) {

			.twelve {
				background-position:-30px -25px;
			}

			.booty {
				background-position:-60px 0;
			}

			.volume {
				background-position:-90px -25px;
			}

			.strength {
				background-position:-70px 0;
			}

		}

	}


