@import url("https://fonts.googleapis.com/css?family=Khula:400,700|Lato:300,700,900|Julius+Sans+One|Aldrich|Geo|Maven+Pro|Michroma|Nova+Square|Orbitron|Overpass|Rationale|Syncopate:400,700");
body {
  background: white;
  overflow-x: hidden; }

.navbar {
  padding-bottom: 20px;
  padding-top: 20px;
  box-shadow: none;
  border-bottom: none;
  background: none;
  position: fixed;
  transition: background 0.5s ease-in-out, padding 0.5s ease-in-out; }
  .navbar .navbar-header {
    display: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    height: 65px; }
  .navbar .navbar-brand {
    display: none; }
  .navbar .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: none;
    box-shadow: none;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase; }
    .navbar .navbar-nav .nav-item a {
      color: rgba(255, 255, 255, 0.7);
      text-shadow: none; }
      .navbar .navbar-nav .nav-item a:hover {
        color: white; }
    .navbar .navbar-nav .nav-item:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.2);
      -webkit-transform: scaleY(0);
      transform: scaleY(0);
      -webkit-transform-origin: 50% 100%;
      transform-origin: 50% 100%;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out; }
    .navbar .navbar-nav .nav-item:hover:before {
      transform: scaleY(1); }
    .navbar .navbar-nav .active a {
      background: none;
      box-shadow: none;
      border-bottom: 2px solid white;
      color: white; }
      .navbar .navbar-nav .active a:hover {
        background: none; }
  @media screen and (max-width: 750px) {
    .navbar .navbar-header {
      display: block; }
    .navbar .navbar-nav {
      display: inline-block;
      text-align: right;
      margin: 0 auto;
      padding-left: 50px; }
      .navbar .navbar-nav .active a {
        border-bottom: 2px solid white; } }

.navbar-collapse {
  padding: 0;
  border: none; }

.navbarOpen {
  background: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-bottom: 10px; }
  .navbarOpen .navbar-brand {
    display: block; }

.navbarActivated {
  background: rgba(0, 0, 0, 0.8);
  padding-top: 10px;
  padding-bottom: 10px; }
  .navbarActivated .navbar-brand {
    display: block; }

.navbar-toggle {
  border: none; }
  .navbar-toggle:focus {
    background: none !important; }
  .navbar-toggle:hover {
    background-color: rgba(255, 255, 255, 0.2) !important; }
  .navbar-toggle:active {
    background-color: rgba(255, 255, 255, 0.2) !important; }

.menu {
  width: 40px;
  height: 35px;
  margin: 15px;
  padding: 0; }

.menu .icon {
  margin: 0 auto;
  position: relative; }

.menu .icon:before, .menu span:after {
  position: absolute;
  content: ''; }

.menu .icon, .menu span:before, .menu span:after {
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: white;
  display: block; }

.menu .icon:before {
  margin-top: -8px; }

.menu .icon:after {
  margin-top: 8px; }

.xtoggle .icon {
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }
  .xtoggle .icon:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s; }
  .xtoggle .icon:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s; }

.xtoggleOpen .icon {
  background-color: transparent;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }
  .xtoggleOpen .icon:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s; }
  .xtoggleOpen .icon:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s; }

.jumbotron {
  background: url("../img/barb2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .jumbotron * {
    position: relative;
    z-index: 2; }
  .jumbotron h1 {
    color: white;
    letter-spacing: 0.8em;
    font-size: 8vw;
    text-align: center;
    padding-left: 1em;
    line-height: 1.5em;
    white-space: nowrap;
    font-family: 'Geo', sans-serif;
    font-style: italic; }
  .jumbotron .icon-bar-social {
    position: absolute;
    bottom: 0; }
  .jumbotron .s-icon {
    color: rgba(255, 255, 255, 0.7);
    margin: 10px;
    padding: 20px; }
    .jumbotron .s-icon:hover {
      color: white; }
  .jumbotron::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }

.icon-bar {
  background-color: white !important; }

.logo-container {
  position: relative;
  width: 100%;
  height: 210px; }

.logo-brand {
  -webkit-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  -moz-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  -o-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  -ms-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  transform: skew(-20deg, 0deg) scale(0.1, 0.1);
  position: absolute;
  left: -180px;
  top: -35px;
  margin-top: -105px;
  width: 450px;
  height: 210px; }

.logo {
  -webkit-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  -moz-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  -o-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  -ms-transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  transform: skew(-20deg, 0deg) scale(0.6, 0.6);
  position: absolute;
  left: 50%;
  margin: 0 0 0 -225px;
  width: 450px;
  height: 210px; }

.top {
  height: 30%; }

.bottom {
  height: 69%;
  margin-top: 1%; }

.left {
  width: 33%; }

.right {
  width: 65%;
  margin-left: 1.2%; }

.s1 {
  float: left;
  position: relative; }
  .s1::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    background: #FFFFFF; }
  .s1::after {
    content: "";
    position: absolute;
    right: 4px;
    height: 100%;
    width: 10%;
    background: #FFFFFF;
    box-shadow: -23px 0 0 0 #FFFFFF, -46px 0 0 0 #FFFFFF; }

.s2 {
  float: left;
  background: #FFFFFF; }

.s3 {
  float: left;
  box-sizing: border-box;
  border: 40px solid #FFFFFF;
  border-top: none;
  position: relative; }
  .s3::after {
    content: "";
    position: absolute;
    right: -1px;
    height: 40px;
    width: 60px;
    background: #FFFFFF; }

.s4 {
  float: left;
  box-sizing: border-box;
  border-left: 40px solid #FFFFFF;
  border-top: 40px solid #FFFFFF; }

.logo-dark .s1::before {
  background: rgba(255, 255, 255, 0.3); }
.logo-dark .s1::after {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: -23px 0 0 0 rgba(255, 255, 255, 0.3), -46px 0 0 0 rgba(255, 255, 255, 0.3); }
.logo-dark .s2 {
  background: rgba(255, 255, 255, 0.3); }
.logo-dark .s3 {
  border-color: rgba(255, 255, 255, 0.3); }
  .logo-dark .s3::after {
    background: rgba(255, 255, 255, 0.3); }
.logo-dark .s4 {
  border-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (max-width: 750px) {
  .navbar {
    padding: 0; } }
@media screen and (max-width: 875px) {
  .jumbotron {
    padding-top: 0;
    padding-bottom: 50px; }
    .jumbotron h1 {
      font-size: 12vw;
      padding-left: 0.4em;
      letter-spacing: 0.5em; }

  .logo {
    -webkit-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
    -moz-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
    -o-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
    -ms-transform: skew(-20deg, 0deg) scale(0.5, 0.5);
    transform: skew(-20deg, 0deg) scale(0.5, 0.5); } }
.quote-view {
  width: 100%;
  position: relative;
  padding: 80px 80px 160px 80px;
  display: flex; }
  .quote-view h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    color: rgba(1, 1, 1, 0.4);
    text-align: right;
    padding-right: 15px; }
    .quote-view h3 span {
      color: white;
      position: relative; }
      .quote-view h3 span:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -5px;
        right: -200px;
        background: black;
        transition: right 0.5s ease-in-out; }
  .quote-view p {
    width: 80%;
    font-size: 1.7em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.9em;
    position: relative;
    padding-top: 70px;
    padding-left: 10px;
    color: inherit;
    transition: color 0.5s ease-out; }
    .quote-view p:before {
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
      border-left: solid 1px black;
      transition: height 0.5s ease-in-out; }
  @media screen and (max-width: 750px) {
    .quote-view {
      padding: 50px 10px 120px 10px;
      flex-direction: column; }
      .quote-view h3 {
        width: default;
        text-align: left;
        padding-left: 40px;
        margin-bottom: -50px; }
        .quote-view h3 span {
          padding-left: 20px;
          margin-left: -20px; }
      .quote-view p {
        width: default;
        margin-left: 40px;
        font-size: 1.5em;
        padding-top: 60px; } }

.services {
  position: relative;
  margin-bottom: 180px;
  margin-top: 20px; }
  .services .live {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 70vw 84px 0;
    border-color: transparent #a2a0aa transparent transparent;
    position: absolute;
    top: -127px;
    right: 0;
    z-index: -2; }
    .services .live h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 1.4em;
      color: white;
      position: absolute;
      top: -30px;
      left: 300px;
      width: 200px; }
  .services .ytlive {
    position: absolute;
    width: 200px;
    right: 0;
    top: -127px;
    z-index: -1; }
  .services .lower {
    display: flex; }
  .services .programs {
    width: 50vw;
    background-color: #222222;
    height: 200px;
    position: relative;
    margin-right: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear; }
    @media screen and (max-width: 750px) {
      .services .programs {
        height: 150px; } }
    .services .programs:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -60px;
      left: -2px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 0 100px 50vw;
      border-color: transparent transparent transparent #222222;
      transition: border-color 0.3s linear; }
    .services .programs:after {
      content: "";
      z-index: -1;
      position: absolute;
      bottom: -60px;
      right: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 50vw 60px 0;
      border-color: transparent #222222 transparent transparent;
      transition: border-color 0.3s linear; }
    .services .programs:hover {
      background: black; }
      .services .programs:hover:before {
        border-color: transparent transparent transparent black; }
      .services .programs:hover:after {
        border-color: transparent black transparent transparent; }
    .services .programs .dumbbell {
      width: 100px;
      margin-bottom: -15px; }
      @media screen and (max-width: 750px) {
        .services .programs .dumbbell {
          width: 80px; } }
    .services .programs h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 1.4em;
      color: white;
      text-align: center; }
    .services .programs p {
      font-family: 'Lato', sans-serif;
      text-align: center;
      padding: 10px 30px 10px 30px;
      font-size: 1.2em;
      color: rgba(255, 255, 255, 0.7);
      max-width: 400px; }
      @media screen and (max-width: 750px) {
        .services .programs p {
          display: none; } }
  .services .blog {
    margin-left: 2px;
    width: 50vw;
    height: 200px;
    margin-top: 60px;
    background-color: #222222;
    align-self: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s linear; }
    @media screen and (max-width: 750px) {
      .services .blog {
        height: 150px; } }
    .services .blog:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: -60px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 60px 0 100px 50vw;
      border-color: transparent transparent transparent #222222;
      transition: border-color 0.3s linear; }
    .services .blog:after {
      content: "";
      z-index: -1;
      position: absolute;
      bottom: -60px;
      left: 0px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 100px 50vw 60px 0;
      border-color: transparent #222222 transparent transparent;
      transition: border-color 0.3s linear; }
    .services .blog:hover {
      background: black; }
      .services .blog:hover:before {
        border-color: transparent transparent transparent black; }
      .services .blog:hover:after {
        border-color: transparent black transparent transparent; }
    .services .blog .paperpen {
      width: 80px; }
      @media screen and (max-width: 750px) {
        .services .blog .paperpen {
          width: 60px; } }
    .services .blog h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 1.4em;
      color: white;
      text-align: center; }
    .services .blog p {
      font-family: 'Lato', sans-serif;
      text-align: center;
      padding: 10px 30px 10px 30px;
      font-size: 1.2em;
      color: rgba(255, 255, 255, 0.7);
      max-width: 400px; }
      @media screen and (max-width: 750px) {
        .services .blog p {
          display: none; } }
  .services .shop {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 84px 0 100px 70vw;
    border-color: transparent transparent transparent #a2a0aa;
    position: absolute;
    bottom: -127px;
    left: 0;
    z-index: -2; }
    .services .shop h3 {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 1.4em;
      color: white;
      position: absolute;
      top: -30px;
      right: 300px;
      width: 200px; }

.srv2 {
  margin-top: -175px; }

.shop-link {
  width: 96%;
  background: #222222;
  height: 100px;
  margin: 0 auto;
  border-radius: 3px;
  overflow: hidden;
  transition: background-color 0.3s linear; }
  .shop-link .logo {
    -webkit-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
    -moz-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
    -o-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
    -ms-transform: skew(-20deg, 0deg) scale(0.2, 0.2);
    transform: skew(-20deg, 0deg) scale(0.2, 0.2);
    position: absolute;
    left: 50%;
    margin: -65px 0 0 -225px;
    width: 450px;
    height: 210px; }
  .shop-link h3 {
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 2.7em;
    position: absolute;
    left: 50%;
    text-align: right;
    margin-top: 45px; }
  .shop-link:hover {
    background: black; }

footer {
  padding: 50px;
  background: #111111;
  font-family: 'Lato', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  footer ul {
    list-style: none; }
  footer p {
    color: white; }
  footer li {
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 15px; }
  footer a {
    color: rgba(255, 255, 255, 0.5); }
    footer a:hover {
      color: #E82B2F;
      text-decoration: none; }
  footer i {
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    margin: 3px; }
    footer i:hover {
      background: rgba(255, 255, 255, 0.3);
      color: rgba(255, 255, 255, 0.9); }
  footer .fa-facebook {
    padding: 8px 11px 8px 11px; }
  @media screen and (max-width: 750px) {
    footer {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start; }
      footer ul {
        margin-bottom: 40px; } }

#particles-js {
  width: 100%;
  height: 450px;
  background-color: #222222;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 100px;
  margin-top: -100px;
  position: relative; }
  #particles-js h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    color: white;
    font-family: 'Khula', sans-serif;
    font-weight: 900;
    font-size: 5vw;
    line-height: 150px;
    margin-top: -70px; }
    #particles-js h3 span {
      font-weight: 400;
      color: #E82B2F; }
    @media screen and (max-width: 750px) {
      #particles-js h3 {
        font-size: 7vw; } }
  #particles-js:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 100vw 0 0;
    border-color: white transparent transparent transparent; }
  #particles-js:after {
    content: "";
    position: absolute;
    bottom: -0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100vw;
    border-color: transparent transparent white transparent; }

#header-carousel {
  height: 500px;
  margin-bottom: 80px; }
  #header-carousel img {
    filter: brightness(75%); }
  #header-carousel .carousel-caption {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #header-carousel .carousel-caption h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 2.3em; }
      @media screen and (max-width: 750px) {
        #header-carousel .carousel-caption h3 {
          font-size: 1.8em; } }
    #header-carousel .carousel-caption p {
      font-family: 'PT Sans', sans-serif;
      color: rgba(255, 255, 255, 0.9); }
      @media screen and (max-width: 750px) {
        #header-carousel .carousel-caption p {
          display: none; } }

header {
  height: 230px;
  width: 100%;
  background-image: url("../img/tire.jpg");
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  background-attachment: fixed;
  background-size: 100vw;
  background-position: center 0;
  height: 60vw;
  max-height: 90vh;
  position: relative;
  overflow: hidden; }
  header::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  header h1 {
    color: white;
    font-size: 5em;
    padding-left: 1em;
    line-height: 0.28em;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    z-index: 2;
    font-family: 'Geo', sans-serif;
    font-style: italic; }
    @media screen and (max-width: 750px) {
      header h1 {
        font-size: 3.5em;
        line-height: 0.14em;
        padding-left: 0.5em; } }
  @media screen and (min-width: 1200px) {
    header {
      bbackground-position: center -18vw; } }

.prog {
  background-image: url("../img/gunnar2.jpg"); }

.shop-header {
  background: url("../img/IMG_7687.PNG");
  background-attachment: fixed;
  background-size: 100vw;
  background-position: center 0;
  height: 100vw;
  background-repeat: no-repeat; }
  @media screen and (min-width: 850px) {
    .shop-header {
      background: url("../img/IMG_7687.PNG");
      background-attachment: fixed;
      background-size: 100vw;
      background-position: center -38vw;
      height: 50vw;
      background-repeat: no-repeat; } }

.content {
  background: #DDDDDD; }

.subheader {
  position: relative; }
  .subheader .secondary-sub {
    padding: 110px 80px 150px 80px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato', sans-serif; }
    @media screen and (max-width: 750px) {
      .subheader .secondary-sub {
        padding: 110px 20px 110px 20px;
        font-size: 1.9em; } }

.shop-sub {
  background: white;
  padding: 100px 80px 100px 80px;
  margin: 0 auto;
  text-align: left;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  font-size: 1.8em; }
  .shop-sub ul {
    padding: 30px 80px 30px 80px;
    margin: 0 auto;
    text-align: left; }
    .shop-sub ul li {
      padding-left: 20px; }
  @media screen and (max-width: 750px) {
    .shop-sub {
      padding: 80px 10px 80px 10px;
      font-size: 1.5em; }
      .shop-sub ul {
        padding: 30px 50px 30px 50px; } }

.cost-breakdown {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif; }
  .cost-breakdown .costbox {
    padding: 0 30px 30px 30px; }
  .cost-breakdown .cost {
    font-size: 3em; }
    .cost-breakdown .cost span {
      font-size: 0.3em; }

.grid-container {
  background: #DDDDDD;
  padding-top: 50px;
  padding-bottom: 50px; }
  .grid-container .program-container {
    margin: 0 auto 50px auto;
    width: 95%;
    height: 300px;
    background: white;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    background-repeat: no-repeat; }
    .grid-container .program-container .program-img {
      width: 50%;
      position: relative; }
      .grid-container .program-container .program-img:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        right: 0;
        border-style: solid;
        border-width: 0 0 250px 200px;
        border-color: transparent transparent white transparent; }
    .grid-container .program-container .program-description {
      background: white;
      width: 50%;
      position: relative; }
    .grid-container .program-container .info {
      background: #AAAAAA;
      font-family: "Lato", sans-serif;
      padding: 10px 0 10px 0;
      color: white;
      border: none;
      width: 100vw;
      height: 50px;
      outline: none; }
      .grid-container .program-container .info:hover {
        background: #E82B2F; }
      .grid-container .program-container .info:hover {
        background: #E82B2F; }
    .grid-container .program-container .left:after {
      left: 0;
      right: inherit;
      border-width: 250px 0 0 200px;
      border-color: transparent transparent transparent white; }
    .grid-container .program-container .upper {
      display: flex;
      height: 250px; }
    .grid-container .program-container h3 {
      color: black;
      font-family: 'Lato',sans-serif;
      font-size: 2.4em;
      background: none;
      padding-left: 10px;
      position: absolute;
      bottom: 80px;
      z-index: 3;
      text-align: center;
      width: 100%; }
    .grid-container .program-container .right {
      text-align: right;
      margin-left: -95px; }
    .grid-container .program-container p {
      padding-left: 10px;
      padding-right: 10px;
      background: white;
      height: 60px;
      color: rgba(0, 0, 0, 0.8);
      font-family: 'Lato', sans-serif; }
    .grid-container .program-container .drop-down {
      padding: 15px 20px 15px 20px;
      background: white; }
      .grid-container .program-container .drop-down p {
        font-size: 1.3em;
        padding: 10px 20px 10px 20px;
        background: transparent;
        color: black;
        height: auto; }
      .grid-container .program-container .drop-down ul {
        font-family: 'Lato', sans-serif; }
      @media screen and (max-width: 750px) {
        .grid-container .program-container .drop-down {
          padding: 10px 0px 10px 5px; } }
    .grid-container .program-container .program-cost {
      text-align: center; }
      .grid-container .program-container .program-cost p {
        font-size: 3em; }
      .grid-container .program-container .program-cost button {
        width: 50%;
        height: 50px; }
    @media screen and (max-width: 750px) {
      .grid-container .program-container h3 {
        bottom: 5px;
        font-size: 1.6em; }
      .grid-container .program-container .right {
        width: 230px; }
      .grid-container .program-container .program-img {
        width: 60%; }
      .grid-container .program-container .program-description {
        width: 40%; } }
  .grid-container .custom-cost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Lato', sans-serif; }
    .grid-container .custom-cost .cc {
      min-width: 200px; }
    .grid-container .custom-cost .cust-buy {
      background: #E82B2F;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 30px 8px 30px;
      text-align: center;
      min-width: 150px; }
      .grid-container .custom-cost .cust-buy:hover {
        background: #ca161a; }
  .grid-container .container-long {
    height: auto; }
  .grid-container .twelve {
    background-image: url("../img/gunnar5.jpg");
    background-position: -70px -30px;
    background-size: cover; }
  .grid-container .booty {
    background-image: url("../img/b1.JPG");
    background-position: 0 -50px;
    background-size: cover; }
  .grid-container .volume {
    background-image: url("../img/gunnar11.jpg");
    background-position: 0 -20px;
    background-size: cover; }
  .grid-container .strength {
    background-image: url("../img/gunnar6.jpg");
    background-position: 0;
    background-size: cover; }
  .grid-container .four {
    background-image: url("../img/gunnar3.jpg");
    background-position: 0;
    background-size: cover; }
  .grid-container .custom {
    background-color: #E82B2F; }
  @media screen and (max-width: 750px) {
    .grid-container .twelve {
      background-position: 0 -25px; }
    .grid-container .booty {
      background-position: 0 0; }
    .grid-container .volume {
      background-position: 0 -25px; }
    .grid-container .strength {
      background-position: 0 0; }
    .grid-container .diet {
      background-position: 0 -110px; }
    .grid-container .online {
      background-position: right;
      background-size: 60vw; } }
  @media screen and (max-width: 500px) {
    .grid-container .twelve {
      background-position: -30px -25px; }
    .grid-container .booty {
      background-position: -60px 0; }
    .grid-container .volume {
      background-position: -90px -25px; }
    .grid-container .strength {
      background-position: -70px 0; } }

.content {
  background: none;
  position: relative; }

.bios {
  margin-top: -100px; }
  .bios h2 {
    text-align: right;
    font-family: 'Lato', sans-serif;
    padding: 0 40px 0 20px;
    font-size: 2.5em; }
    .bios h2 span {
      color: white;
      position: relative;
      margin-left: 5px; }
      .bios h2 span:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: -5px;
        right: -200px;
        background: black;
        transition: right 0.5s ease-in-out; }
  .bios .separator {
    width: 100%;
    background: #222222;
    color: white;
    position: relative;
    height: 60px; }
    .bios .separator h3 {
      text-align: center;
      line-height: 60px;
      font-family: 'Lato', sans-serif; }
    .bios .separator:after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      content: '';
      width: 0;
      height: 0;
      border-top: solid 20px #222222;
      border-left: solid 20px transparent;
      border-right: solid 20px transparent; }
  .bios .bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0 50px 0; }
    .bios .bio h3 {
      font-family: 'Lato', sans-serif; }
    .bios .bio .bio-body {
      font-family: 'Lato', sans-serif;
      width: 60vw;
      padding: 0 20px 0 20px; }
      .bios .bio .bio-body .sub {
        font-style: italic;
        color: #999999; }
      .bios .bio .bio-body .bio-text {
        font-size: 1.2em; }
    .bios .bio .bio-img {
      border-radius: 50%;
      height: 350px;
      width: 350px;
      max-width: 100vw;
      max-height: 100vw;
      background-size: cover;
      background-position: center center;
      -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      -o-filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
      -webkit-filter: grayscale(100%);
      align-self: flex-end;
      background-color: #CCCCCC; }
    .bios .bio .gunnar {
      background-image: url("../img/IMG_7685.PNG"); }
    .bios .bio .pkwan {
      background-image: url("../img/IMG_4261.JPG");
      background-position: center 0px;
      height: 250px;
      width: 250px; }
    .bios .bio .tylor {
      background-image: url("../img/tylor.PNG");
      background-position: -10px center;
      background-size: 350px;
      height: 250px;
      width: 250px; }
    @media screen and (max-width: 750px) {
      .bios .bio .bio-body {
        width: 100vw;
        text-align: center; } }
  .bios .limg {
    flex-wrap: wrap-reverse; }

.bio-q {
  padding: 20px 120px 20px 120px;
  line-height: 1.5em;
  font-size: 1.1em;
  font-family: 'Lato', sans-serif;
  color: #888888; }
  @media screen and (max-width: 750px) {
    .bio-q {
      padding: 20px 50px 20px 50px; } }

.serv-desc {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background: transparent; }
  .serv-desc h3 {
    font-size: 2.3em;
    padding: 50px 0 30px 0; }
  .serv-desc p {
    font-size: 1.3em;
    padding: 0 80px 30px 80px; }
  @media screen and (max-width: 750px) {
    .serv-desc p {
      font-size: 1.3em;
      padding: 0 10px 30px 10px; } }

.video-box {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  position: relative;
  padding-bottom: 56.25%; }
  .video-box iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0; }
  @media screen and (min-width: 1000px) {
    .video-box {
      padding-bottom: 40%; } }

.online-pt .cost-breakdown {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif; }
  .online-pt .cost-breakdown h3 {
    padding-bottom: 10px; }
  .online-pt .cost-breakdown .period {
    color: #AAAAAA;
    padding-bottom: 15px; }

.costbox {
  padding: 0 30px 30px 30px; }

.cost {
  font-size: 3em; }
  .cost span {
    font-size: 0.3em; }

.cost-nutr {
  font-size: 3em !important;
  padding: 20px !important; }

.buy-button {
  background: #E82B2F;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 30px 8px 30px; }
  .buy-button:hover {
    background: #ca161a; }

.nutrition {
  background-image: url("../img/veg.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  color: white; }
  .nutrition * {
    position: relative;
    z-index: 1; }
  .nutrition::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0; }
  .nutrition p {
    padding-bottom: 10px; }
  .nutrition .n-desc {
    display: flex; }
  .nutrition .dietimg {
    background-image: url("../img/veg.jpg");
    background-size: 600px;
    background-position: center center;
    width: 400px;
    height: 200px;
    display: flex;
    align-self: flex-end; }
  .nutrition ul {
    text-align: left;
    font-size: 1.3em;
    padding-bottom: 10px;
    width: 250px;
    margin: 0 auto; }
  .nutrition i {
    font-size: 0.8em; }

.pt .cost-breakdown {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif; }
  .pt .cost-breakdown h3 {
    padding-bottom: 10px; }
  .pt .cost-breakdown .period {
    color: #AAAAAA;
    padding-bottom: 15px; }
.pt .costbox h3 {
  font-size: 1.8em;
  padding: 0; }
.pt .costbox .cost {
  font-size: 2.5em; }
.pt h3 {
  padding-bottom: 0; }

/*# sourceMappingURL=main.css.map */
